/***************************
   Variables
****************************/

$default:#1c1c1c;
$link : #0177d6;
$linkHover: rgba($link,.8);
$success:#268406;
$error:#d63d3d;
$pending:#e67300;
$notYetStarted:#667985;
$NA:#a8a8a8;
$adHocApprover:#9577db;
$confirmation:#ffc107;
$information: #0097a7;
$purple: #9577db;
$sideNavLinks: #64c1ff;
$processDefualtCircle:#eee;
$highlight:lighten($link, 40%);
//card header color variable
$cardheaderRed:#e53935;

//buttons colors
$flatbtnFocus:#ebf4fc;
$flatbtnPressed:#e0eefa;
$disabled:#d3d3d3;
$disabledBtnTxt:#a2a2a2;
$btnFocus:#0162b2;
$btnPressed:#003764;
