//registry.npmjs.org/:_authToken=6dc69b7f-fad3-4ad4-99eb-641c95f5b3eb
registry=http://registry.npmjs.com

registry=https://gepdev.pkgs.visualstudio.com/_packaging/Smart-NG5/npm/registry/
always-auth=true