// @import "~smart-assets/sass/variables";
// @import "~smart-assets/sass/tooltip";
.main-container {
  height: 100%;
  background-color: #fff;
}
::ng-deep .mat-input-container  .mat-form-field-label-wrapper{
	top: 0
}
::ng-deep .input-field.line-height-manager label.active.empty-label{
  top: 5px !important;
}

::ng-deep smart-dropdown .dropdown-content{
  height: auto !important;
}


@import '~smart-assets/sass/tooltip';

.main-container {
  // width: 100%;
  height: 100%;
}

.overflow-hide {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 7px;
  border: 1px solid grey;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  box-shadow: inset 0 0 1px grey; 
  border-radius: 1px solid grey;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
} 
 
