<!-- <div class="filter-chip-wrapper alert-bar--fixed filter-alert-bar alert-bar--warning alert-bar--with-button alert-bar"
  *ngIf="_dashboardCommService.appliedFilters && showChipBar">
  <span class="filter-chip-header" [innerHTML]="constants.UIConstants.STRING_applied_filters"></span>
  <span *ngFor="let filter of _dashboardCommService.appliedFilters;let index=index;trackBy:ReportObjectId"
    class="filter-chip-container">
    <div class="fontSize12 filter-chip-title" title="{{filter.DisplayName}}">
      {{filter.DisplayName}}</div>
    <div class="chip chips-link hoverable selected-list-chip-container">
      <span [ngSwitch]="filter.filterChipName">
        <span *ngSwitchCase="-1">
          <span (mouseenter)="onMouseEnterChip($event,filter,index)" (click)="openGlobalFilter(filter)"
            (mouseleave)="onMouseLeaveChip(index)">
            <a class="chips-link filter-chip-link" [title]="constants.UIMessageConstants.STRING_allSelected">
              {{constants.UIMessageConstants.STRING_allSelected}}
            </a></span>
        </span>
        <span *ngSwitchDefault>
          <span (mouseenter)="onMouseEnterChip($event,filter,index)" (click)="openGlobalFilter(filter)"
            (mouseleave)="onMouseLeaveChip(index)">
            <a class="chips-link filter-chip-link" title="{{filter.filterChipName}}">{{filter.filterChipName}}</a></span>
        </span>
        <span class="removeChipIcon">
          <i class="icon iconXsmall grey-text" [title]="constants.UIMessageConstants.STRING_Remove"
            (click)="removeCurrentChip($event,filter,index)">
            <svg>
              <use xlink:href="#icon_ChipRemove"></use>
            </svg>
          </i>
        </span>
      </span>
    </div> -->

<!-- filter upfront div open -->
<!-- <div class="fiters-upfront-wrapper" (mouseenter)="onMouseEnterChip($event,filter,index)"
      (mouseleave)="onMouseLeaveChip(index)" id="filteredChip{{index}}">
      <div class="borderBtmGray">
        <div class="marginLeft4 fontSize16 padding5">{{filter.DisplayName | uppercase}}</div>
      </div>

      <ul class="fiters-upfront-wrapper-list">
        <span *ngIf="filter.FilterType==dashboardConstant && filter.selectedFilterList.length> 20" class="fontSize12
          marginLeft10">Showing 20 of {{filter.selectedFilterList.length}}</span>
        <span *ngIf="filter.FilterType==dashboardConstant &&
          filter.selectedFilterList.length <=20" class="fontSize12 marginLeft10">Showing all selected</span>
        <span *ngIf="filter.selectedFilterList.length >= 20" class="right marginRight20 fontSize14 cursorPointer"
          style="cursor: pointer" (click)="openGlobalFilter(filter,true,index)"><a>View All</a></span>
        <li *ngFor="let list of filter.selectedFilterList;let i=index;trackBy:i" class="cursorDefault marginLeft10">
          <span *ngIf="i < 20 && list.title!=-1" class="truncate" title="{{list.title}}"> {{list.title}} </span>
          <span *ngIf="i < 20 && list.title==-1" class="truncate" title="All Selected"> All Selected</span>
        </li>
      </ul>
    </div> -->
<!-- filter upfront div closed -->
<!-- </span>
</div> -->

<!-- <div class="filter-hierarchy-bar  extra-nav-wrap" *ngIf="_dashboardCommService.filterObjectHierarchyList.length" smart-sticky-header>
  <div class="marginLeft11 marginTop0">
    <div class="bold drive-filter-text fontSize14">Driver Filters:</div>
    <span *ngFor="let item of _dashboardCommService.filterObjectHierarchyList; let index=index">
      <div class="arrow-class" [style.display] = "index != 0 ? '': 'none'" >
        &#x21FE;
      </div>
      <div class="filter-hierarchy-chip-container marginTop10" [ngClass]="{'filter-hierarchy-chip-master': index == 0}">
        <div class="filter-hierarchy-chip truncate" title="{{item.WidgetName}}">{{item.WidgetName}} </div>
        <span *ngFor="let i of item.FilterObjects">
          <div class="filter-hierarchy-chip-item truncate" title="{{i.FilterValue}}">
            {{i.FilterValue}}
             <span *ngIf="index  < _dashboardCommService.filterObjectHierarchyList.length - 1"> / </span> 
         </div>
        </span>
      </div>     
    </span>
  </div>
</div> -->

<div class="filter-panel-container"
  [style.display]="_appConstant.userPreferences.moduleSettings.showFilterIconOption ? '' : 'none'">
  <a href="javascript:void(0)" class="filter-sidebar-btn white-text " (click)="filterSidebarCallback()">
    <i class="icon iconSmall" [ngClass]="{'rotateFilterSideBarIcon': !isFilterSidebarExpand}">
      <svg>
        <use xlink:href="#icon_RightChevro"></use>
      </svg>
    </i>
  </a>
  <div class="filters-panel-header row marginBottom0">
    <div class="col s6">
      <div class="col s2 filter-panel-icon">
        <a href="javascript:void(0)" (click)="filterSidebarCallback()" *ngIf="!isGlobalFltApplied">
          <i class="icon iconSmall">
            <svg>
              <use xlink:href="#icon_Filter"></use>
            </svg>
          </i>
        </a>
        <a href="javascript:void(0)" (click)="filterSidebarCallback()" *ngIf="isGlobalFltApplied">
          <i class="icon iconSmall">
            <svg>
              <use xlink:href="#icon_FilterAppli"></use>
            </svg>
          </i>
        </a>
      </div>
      <div class="marginLeft10 col s4" [ngClass]="{'toggleFilterHeader': !isFilterSidebarExpand}"
        [innerHTML]="constants.UIMessageConstants.STRING_FILTERS">
        FILTERS
      </div>
    </div>
    <div class="col s2 right marginRight18 clear-all-filter">
      <a href="javascript:void(0)" (click)="openGlobalFilter(undefined)">
        <i class="icon iconSmall">
          <svg>
            <use xlink:href="#icon_CirclePlus"></use>
          </svg>
        </i>
      </a>
    </div>

  </div>
  <ng-container #globalFilterContainer>
  </ng-container>
</div>
<div class="dashboard-slicer" [style.display]="_dashboardCommService.slicerFilterList.length > 0 ? '' :'none'">
  <a href="javascript:void(0)" class="slicer-filter-sidebar-btn white-text" (click)="slicerSidebarCallback()">
    <i class="icon iconSmall" [ngClass]="{'rotateFilterSideBarIcon': isSlicerFilterSidebarExpand}">
      <svg>
        <use xlink:href="#icon_RightChevro"></use>
      </svg>
    </i>
  </a>
  <ng-container #slicerContainer></ng-container>
</div>

  <div>
    <ng-container #dashboardTabsContainer>
    </ng-container>
  </div>
  <div class="dashboard-container marginTop15"  id="exportToPdf">
    <ng-container #globalSliderWidget></ng-container>
    <ng-container #dashboardContainer>
    </ng-container>
    <ng-container #dashboardMoveToContainer>
    </ng-container>
    <ng-template #outletTemplate let-manifestPath="manifestPath" let-config="config">
      <smart-outlet [path]="manifestPath" [childConfig]="config" (onInitialize)="onInitialize($event)"
        (onDeinitialize)="onDeinitialize($event)"  (onActivate)="onActivate($event)"></smart-outlet>
    </ng-template>
  </div>
