.common-text-field{
    .input-field label{
        margin-left: -10px;
    }
}


.input-field{
    color: rgba(0,0,0,.64);
}

.select-wrapper span.caret{
    width: 11px;
}

.label-header{
    font-size: 0.8rem;
}




