<ng-template [ngIf]="config.isAccessibleReport">
  <span class="widgetTopBar">
    <span class="floatL">
        <!-- <span [hidden]="!config.isLinkedToDashboard">
            <a class='dropdown-button waves-effect marginRight5' style="cursor: arrow !important" smartTooltip [config]="linkedToDashboardConfig">
              <i class="icon iconSmall grey-text">
                <svg>
                    <path d="M13 2v13h8V2h-8zm7 12h-6V3h6v11zM3 2v7h8V2H3zm1 1h6v5H4V3zM11 10v5h-1v-4H4v10h3v1H3V10z M8 18.5c0 1.4 1.1 2.5 2.5 2.5h1c1.2 0 2.2-.9 2.4-2H15c.2 1.1 1.2 2 2.4 2h1c1.4 0 2.5-1.1 2.5-2.5S19.8 16 18.3 16h-1c-1.2 0-2.2.9-2.4 2h-1.1c-.2-1.1-1.2-2-2.4-2h-1C9 16 8 17.1 8 18.5zm9.9 0c0-.3-.2-.5-.5-.5H16c.2-.6.7-1 1.4-1h1c.8 0 1.5.7 1.5 1.5s-.7 1.5-1.5 1.5h-1c-.6 0-1.2-.4-1.4-1h1.4c.3 0 .5-.2.5-.5zm-9 0c0-.8.7-1.5 1.5-1.5h1c.6 0 1.2.4 1.4 1h-1.4c-.3 0-.5.2-.5.5s.2.5.5.5h1.4c-.2.6-.7 1-1.4 1h-1c-.8 0-1.5-.7-1.5-1.5z"/>
               </svg> 
              </i> 
            </a> 
          </span> -->
      <!-- <span *ngIf="config.isLinkReport && config.isOwn && _appConstants.userPreferences.moduleSettings.showUnlinkLinkReportOption" class="text-black64 fontSize12 marginRight5">
        <a class='dropdown-button waves-effect' style="cursor: arrow !important" smartTooltip [config]="linkedReportConfig">
          <i class="icon iconSmall grey-text">
            <svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_Link"> </use> 
            </svg> 
          </i> 
        </a> 
      </span> -->
      <span [style.display]="showAppliedFilterPopupIcon ? '' : 'none'"
        class="text-black64 fontSize12 cursorPointer marginRight5">
        <a class='dd_activator dropdown-button waves-effect' 
        (click)="openViewAppliedFilter(config)" smartTooltip [config]="viewAppliedFilterConfig">
          <i class="icon iconSmall blue-text">
            <svg class="dashboardCardHeaderIcons">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_dashboardCardAppliedFilter"> </use> 
            </svg> 
          </i> 
        </a>
    </span> 
  </span> 
</span> 
</ng-template> 
<ng-container #viewAppliedFilterPopup>
</ng-container>
