.modal-popup {
    z-index: 1000;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    height: 100%;
    margin-left: auto;
    margin-right: 0;
    width: 65% !important;
    background-color: #fff;
    transition: all 0.5s ease !important;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
    .modal-header {
        padding: 18px 20px;
        height: 60px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        text-transform: uppercase;
        .title {
            font-size: 18px;
        }
    }



    .modal-body {
        padding: 24px;
    }
    .modal-footer {
        padding: 10px 0px;
        border-top: 1px solid #eee;
        height: 56px;
        width: 100%;
        position: fixed;
        bottom: 0;
        right: 0;
    }
    .inActive {
        display: none;
    }
    .isRadioEnabled {
        display: none;
    }
}

.modal-Count-popup {
    height: 100% !important;
    z-index: 2000 !important;
    width: fit-content !important;
}

.lean-overlay {
    position: fixed;
    display: block;
    opacity: 0.5;
    top: -100px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    z-index: 999;
    background: #000;
}

.content-container{
    overflow: auto;
}
.notification-bubble{
    background: #3888c1;
    color: #fff;
    text-align: center;
    height: 20px;
    width: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    z-index: 156;
    display: inline-block;
    cursor: pointer;
}

.common-container{
}

.grid-container{
    height: 450px;
    padding: 25px;
}

.margin60{
    margin-bottom: 60px !important;
}

.wj-control input[type=radio]{
    cursor: "pointer";
    opacity: 1;
    left: 6px !important;
    top: 6px;
              
}

.wj-align-right{
    text-align: right;
}
