<div class="scrollableModel viewDataSourcePopup">

    <div class="header-title-container modal-header scrollableModel viewDataSourceHeader">
        <span>
            <i class="icon iconSmall logFileIcon">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_logFile"></use>
                </svg>
            </i>
        </span>

        <span class="paddingLeft10">
            DATA SOURCE
        </span>
    </div>

    <div class="content-container paddingTop20 paddingLeft20 viewDataSourceContent">
        <div>Spend Source 2015-2017</div>
    </div>

    <div class="footer modal-footer modal-footer-normalScroll">
        <div class="right">
            <smart-button  [config]="btnCloseConfig" (callback)="datasourcebtnClose()"></smart-button>
        </div>
    </div>

</div>