.noview_messge_main{ background: #fff;
    height: 100%;
    opacity: 0.9;
    padding: 20px;
    width: 100%;    text-align: center;}
.noview_messge{ font-size: 2rem;text-align: center;}
.frame-container{height: calc(100% - 0px) !important;}
body{overflow: hidden;}