.modal-popup {
    z-index: 1000;
    position: fixed;
    right: 0;
    left: 0;
    top: 135px;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    background-color: #fff;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
  
   
    .modal-header {
        padding: 18px 20px;
        height: 60px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        text-transform: uppercase;
        .title {
            font-size: 18px;
        }
    }



    .modal-body {
        padding: 24px;
    }
    .modal-footer {
        padding: 10px 0px;
        border-top: 1px solid #eee;
        text-align: right;
        height: 56px;
    }
    .inActive {
        display: none;
    }
    .isRadioEnabled {
        display: none;
    }
}

.lean-overlay {
    position: fixed;
    display: block;
    opacity: 0.5;
    top: -100px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    z-index: 999;
    background: #000;
}

// .contentassign{
//     max-height: 132px !important;
//     height: 132px !important;
//     overflow: auto !important;
// }
.notification-bubble{
    background: #3888c1;
    color: #fff;
    text-align: center;
    height: 20px;
    width: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    z-index: 156;
    display: inline-block;
    cursor: pointer;
}

.common-container{
    height: 300px;
}

.grid-container{
    height: 300px;
    padding: 25px;
}


.wj-align-right{
    text-align: right;
}

table, th, td {
    border: 1px solid #cccccc;
    border-collapse: collapse;
    padding: 8px;
  }

  th, td {
    padding: 5px;
    text-align: left;
    border-collapse: collapse;
  }
  .scrollableModel-inner{
    border: 1px solid #cccccc;
    margin: 15px;
   }
   .assignWidth{
       width: 33%;
   }
   .input-border{
    border-bottom: none !important;
   }

// .assignspenddiv1 {
//     max-height: 160px; 
//     overflow-y: auto;
// }

// .assignspenddiv2 {
//     max-height: 132px !important;
// }
