.height215{
    height: 215px !important;
}

.filterCdnValues{
    margin-top: 13px !important;
}

.filterCdnMultipleValues {
    margin-top: 6px !important;
    width: 338px;
}

.filterValueLength{
    float: right;
}

.filterToolTip{
    float: right;
    margin-right: -31px;
    margin-top: -23px;
}