
.add-margin-numeric {
    margin-top: 7px !important;
}

.chart-error-msg {
    height: 35px;
    background: #ffdada;
    font-size: 12px;
    font-size: 12px;
    line-height: 35px;
    text-align: center;
}