# See http://help.github.com/ignore-files/ for more about ignoring files.
# This is to avoid the pushing of package-lock.json this file should remain 
# on developer workspace, no reaosn to push to git, it will create conflicts on
# the future.
package-lock.json
# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules
/distribution

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
