<div *ngIf="showGrid" class="content-container overflowHidden">

    <div  class="overflowAuto grid-container">
        <div id="flex -grid-wrapper" flex-grid [config]="gridData" (flexEvents)="flexEvents($event)"></div>
        <ng-template
            [ngIf]="gridData.showPagination">
            <div class="floatL fontSize12  footer pagination-container paddingTop0 paddingLeft0 marginBtm10"
              [style.display]="block" [ngClass]="{'marginLeft30Per':config.isExpandedGraph}">
              <div class="text-black64 pagination-title" style="float: right !important;">
                {{constants.UIMessageConstants.STRING_Showing}}
                {{
                       (
                        gridData.pageSize * gridData.currentPage+1 < gridData.totalItems ?
                        gridData.pageSize * gridData.currentPage+1 : gridData.totalItems
                       )  - gridData.currentPage
                }} -
                {{
                  (gridData.currentPage+1) * gridData.pageSize-1  <  gridData.totalItems ?
                    (
                      (gridData.currentPage+1) * gridData.pageSize-1
                    ) - gridData.currentPage
                    : gridData.totalItems
                }} {{constants.UIMessageConstants.STRING_of}} {{gridData.totalItems}}
                {{constants.UIMessageConstants.STRING_rows}}
                <span [hidden]="gridData.totalItems<=gridData.pageSize">
                  <span class=" marginLeft10">
                    <span [ngClass]="{'disabled':  !gridData.isPrev}"
                      class="text-black64 cursorPointer marginLeft5 pagination-arrow-title"
                      (click)="previousClick()">&lsaquo;</span>
                    <span class="text-black64 padding10 fontSize14">
                      {{gridData.currentPage+1}}&nbsp; &#x2f;
                      &nbsp;{{gridData.totalPages}}
                    </span>
                  </span>
                  <span [ngClass]="{'disabled':  !gridData.isNext}"
                    class=" text-black64 cursorPointer marginLeft5 pagination-arrow-title" (click)="nextClickPagination()">
                    &rsaquo;
                  </span>
                </span>
              </div>
            </div>
          </ng-template>  
    </div>
    </div>

    <div class="footercls">
   
        <span class="right" style="margin-right: 2%;">
          <smart-button [config]="btnCreateConfig" (callback)="createOppClick()"></smart-button>
        </span>
        <span class="right" style="margin-right: 2%;">
          <smart-button [config]="btnBackConfig" (callback)="backBtnClick()"></smart-button>
        </span>
      </div>